@import 'src/styles/resourses/variables.scss';

.name {
    display: inline-block;
}

.logo {
    position: absolute !important;
    bottom: 8px;
    right: 7%;
    height: 90px;
}

.title {
    margin-top: 20px;
    font-family: $font-family-title;
    font-size: $font-size-xxl;
}