@import 'src/styles/resourses/variables.scss';

.data {
    display: flex;
    flex-direction: column;
    height: 65vh;

    &>div {
        margin: 15px 8px;
    }
}

.content {
    height: 80%;
    flex-grow: 0;
    padding: 0 15px;
}

.image {
    img {
        border-radius: $border-radius-main;
    }
}

.name{
    font-size: 36px;
    letter-spacing: 1px;
    color: rgb(179, 53, 53);
}

.curName{
    margin: 15px 0;
    font-size: 22px; 
}