@import 'src/styles/resourses/variables.scss';

.data {
    margin: 30px 0 60px;
}

.content {
    display: inline-block;
    margin: 0 auto 30px;
    padding: 0 15px;
    text-align: left;
}

.name{
    margin: 0 auto;
    max-width: 300px;
    overflow-wrap: break-word;
    font-size: 36px;
    letter-spacing: 1px;
    color: rgb(210, 30, 30);
}

.curName{
    font-size: 24px !important;
    margin: 25px 0;
    font-size: 22px; 
}

.firstLetter{
    font-size: 30px;
    font-style: italic;
}

.sign{
    display: block;
    margin: 0 auto;
}