@import 'src/styles/resourses/variables.scss';

.data {
    margin-top: 60px;
    &>div {
        margin: 15px 8px;
    }
}

.content {
    padding: 0 15px;
}

.image {
    img {
        border-radius: $border-radius-main;
    }
}

.name{
    font-size: 36px;
    letter-spacing: 1px;
    color: rgb(210, 30, 30);
}

.curName{
    margin: 15px 0;
    font-size: 22px; 
}